html, body {
    width: 100%;
}

head, body, footer {
    font-family: 'Nunito', sans-serif;
}
/*CSS for bg image if needed
body {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    
}
*/

 /*The CSS for the grid container for the images*/

.imageContainer {
    display: flex;
    width: 100%;
    position: relative;
    text-align: center;
    justify-content: center;
    z-index: -1;
}

.column {
    position: relative;
    height: auto;
    width: 25%;
}

.column:hover {
    filter: grayscale(100%)
}

nav {
    background-color: white;
}

.homepageTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainTitle, .mainSubtitle {
    font-size: 100px;
    color: white;
}

.mainSubtitle {
    font-size: 20px;
}

/* may not need this now 
.gapFiller {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;

} */

.animalButtons {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content:space-around;
    position: absolute;
    bottom: 80;
    z-index: 8;

}

.buttonSingular {
    display: flex;
    padding: 20px;
    border: none;
    background-color: white;
}

.buttonSingular:hover {
    display: flex;
    padding: 20px;
    border: none;
    background-color: lightgrey;
}

/* Pet names and backstories!  */
.petOne, .petTwo, .petThree, .petFour {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    text-align: center;
    width: 20%;
    z-index: 1;
}

.petOne {
   margin-right: 75%;
   margin-top: 3%;
}

.petTwo {
 margin-right: 25%;
 margin-top: 3%;
}

.petThree {
 margin-left: 28.5%;
 margin-top: 3%;
}

.petFour {
  margin-left: 77%;
  margin-top: 2%;
}